# LAB 37

1. Zaimportuj moduły: pandas, numpy, matplotlib (tylko pyplot), math i nadaj im standardowe aliasy
2. Z pliku StackOverflowDeveloperSurvey.csv wczytaj kolumnę Salary jako Data Series i zapisz ją w zmiennej salary. Wczytując elementy pomiń te ankiety, w których respondenci nie podali kwoty wynagrodzenia (użyj dropna()). Wyświetl 5 pierwszych elementów serii
3. Ile osób odpowiedziało w ankiecie na temat otrzymywanego wynagrodzenia?
4. Jakie jest najmniejsze wynagrodzenie? A jakie jest największe wynagrodzenie?
5. Pięć pierwszych elementów serii zamień na listę (nie zapisuj jej w zmiennej, po prostu wyświetl)
6. Pięć pierwszych elementów serii zamień na słownik (nie zapisuj go, po prostu wyświetl)
7. W zmiennej listSalarySorted zapisz listę powstałą z posortowania serii salary malejąco
8. Wyświetl pięć pierwszych elementów listy listSalarySorted. (Pamiętaj że to nie seria i nie zadziała metoda head()
9. Zmień nazwę atrybutu name dla serii salary na "Salary of a person"
10. Wyświetl 5 pierwszych elementów serii salary

## Exercise 1

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

## Exercise 2

In [10]:
salary = pd.read_csv("StackOverflowDeveloperSurvey.csv", usecols = ["Salary"], squeeze = True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

## Exercise 3

In [11]:
len(salary)

12891

## Exercise 4

In [16]:
min(salary)

0.0

In [15]:
max(salary)

197000.0

## Exercise 5

In [18]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

## Exercise 6

In [20]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

## Exercise 7

In [26]:
listSalarySorted = sorted(salary, reverse = True)

## Exervise 8

In [27]:
listSalarySorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

## Exercise 9

In [28]:
salary.name = "Salary of a person"
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64

## Exercise 10

In [29]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64