# LAB 49

1. Zaimportuj moduł pandas i nadaj mu standardowy alias.
2. Do zmiennej fortune500 wczytaj dane z pliku Fortune_500_2017.csv. Wczytaj kolumny Rank i Title. Kolumna Rank powinna stać się indeksem. Wyświetl nagłówek otrzymanej serii danych.
3. Wyświetl 10 pierwszych firm znajdujących się najwyżej w klasyfikacji Fortune 500
4. Wyświetl 20 ostatnich firm znajdujących się w klasyfikacji Fortune 500
5. Wczytaj jeszcze raz plik, ale tym razem indeksem ma być kolumna Title, a wartościami kolumna Employees opisująca ilość pracowników w każdej firmie.
6. Sprawdź ilu pracowników pracuje dla IBM, Alphabet (Google), Facebook i Apple
7. Wyświetl infromacje o ilości pracowników dla firm od IBM do Intel

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import math as math

## Exercise 2

In [4]:
fortune500 = pd.read_csv("Fortune_500_2017.csv", usecols=["Rank","Title"], index_col="Rank", squeeze=True)
fortune500.head()

Rank
1               Walmart
2    Berkshire Hathaway
3                 Apple
4           Exxon Mobil
5              McKesson
Name: Title, dtype: object

## Exercise 3

In [5]:
fortune500[:10]

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

## Exercise 4

In [8]:
fortune500[-20:]

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

## Exercise 5

In [9]:
fortune500 = pd.read_csv("Fortune_500_2017.csv", usecols=["Employees","Title"], index_col="Title", squeeze=True)
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

## Exercise 6

In [12]:
fortune500[["IBM", "Alphabet (Google)", "Facebook", "Apple"]]

/Users/ewelina/opt/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:1155: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Title
IBM                  414400.0
Alphabet (Google)         NaN
Facebook              17048.0
Apple                116000.0
Name: Employees, dtype: float64

## Exercise 7

In [14]:
fortune500["IBM":"Intel"]

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Lowe’s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64