# LAB 81

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej surveys wczytaj zawartość pliku StackOverflowDeveloperSurvey2018.csv. Pobierz tylko następujące kolumny: 'Country','Gender','OperatingSystem'. Skorzystaj z parametru low_memory=False. Wyświetl nagłówek tak utworzonego Data Frame.
2. Sprawdź czy kolumna Country zawiera wartości unikalne
3. Wyznacz wszystkie kraje, z jakich pochodzą uczestnicy ankiety. (Wystarczy jak wyświetlisz pierwszych kilka)
4. Policz ile tych krajów jest (raz pomijając wartość NaN a raz uwzględniając ją)
5. Utwórz serię wartości True/False duplicatesKeepFirst zawierającą informacje o tym czy wystąpienie kraju w surveys jest pierwsze czy kolejne.
6. Wyświetl pierwszych kilka ankiet, które pochodzą z różnych krajów (skorzystaj z duplicatedKeepFirst)
7. Ile krajów zostanie zwróconych w poprzednim punkcie? Nim uruchomisz odpowiednie polecenie, spróbuj przewidzieć tą wartość.
8. Usuń powtarzające się wiersze ze względu na wartości w kolumnach 'Country, 'OperatingSystem'
9. Wyświetl pozostałe w dataframe surveys wiersze dotyczące Twojego kraju

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
surveys = pd.read_csv("StackOverflowDeveloperSurvey2018.csv", usecols=['Country','Gender','OperatingSystem'], low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

## Exercise 2

In [4]:
surveys['Country'].value_counts()

United States     20309
India             13721
Germany            6459
United Kingdom     6221
Canada             3393
                  ...
Burundi               1
San Marino            1
Guinea-Bissau         1
Grenada               1
Saint Lucia           1
Name: Country, Length: 183, dtype: int64

In [5]:
surveys.Country.is_unique

False

## Exercise 3

In [6]:
surveys.Country.unique()[:20]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia'],
      dtype=object)

## Exercise 4

In [8]:
surveys.Country.nunique()

183

In [7]:
len(surveys.Country.unique())

184

## Exercise 5

In [10]:
duplicatesKeepFirst = surveys.duplicated(subset="Country")
duplicatesKeepFirst.head()

0    False
1    False
2    False
3     True
4    False
dtype: bool

## Exercise 6

In [11]:
surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

## Exercise 7

In [12]:
len(surveys[~duplicatesKeepFirst])

184

## Exercise 8

In [14]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem'],inplace=True)

## Exercise 9

In [16]:
surveys.query("Country == 'Poland'")

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN