# LAB 29

1. Zaimportuj moduły: pandas, numpy, matplotlib (tylko pyplot), math i nadaj im standardowe aliasy
2. Zadeklaruj dwie listy:
    - cities, których elementami są nazwy trzech największych miast świata: Shanghai, Beijing, Istanbul
    - population, której elementami są ilości obywateli tych miast 24183300, 20794100, 15030000
2. Utwórz zmienna citypop typu Series, która jako indeks przyjmie nazwy miast, a za wartości ich populacje.
3. Tworząc obiekt przekaż argumenty przez pozycję. Wyświetl serię
4. Powtórz punkt (3), ale teraz przekaż parametry z wykorzystniem argumentów nazwanych
5. Policz ile obywateli w sumie zamieszkuje te miasta
6. Policz ile średnio mieszkańców mieszka w każdym z tych miast
7. Wyświetl indeks serii citypop korzystając raz z właściwości a raz z metody
8. Wyświetl wartości serii citypop korzystająć raz z właściwości a raz z metoyd

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

## Exercise 2

In [5]:
cities = ['Shanghai', 'Beijing', 'Istanbul']
population = [24183300, 20794100, 15030000]
print(cities, '\n', population)

['Shanghai', 'Beijing', 'Istanbul']
 [24183300, 20794100, 15030000]

## Exercise 3

In [10]:
citypop = pd.Series(population, cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

## Exercise 4

In [11]:
citypop = pd.Series(data = population, index = cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

## Exercise 5

In [12]:
citypop = pd.Series(data = population, index = cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

## Exercise 6

In [13]:
citypop.sum()

60007400

## Exercise 7

In [14]:
citypop.mean()

20002466.666666668

## Exercise 8

In [26]:
print('Index serii wyświetlony przez atrybut:')
citypop.index

Index serii wyświetlony przez atrybut:

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [27]:
print('Index serii wyświetlony przez metodę:')
citypop.keys()

Index serii wyświetlony przez metodę:

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

## Exercise 9

In [29]:
print('Wartości serii wyświetlone przez atrybut:')
citypop.values

Wartości serii wyświetlone przez atrybut:

array([24183300, 20794100, 15030000])

In [28]:
print('Wartości serii wyświetlone przez metode:')
citypop.get_values()

Wartości serii wyświetlone przez metode:

/Users/ewelina/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.to_numpy()' or '.array' instead.

array([24183300, 20794100, 15030000])