# LAB 55

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Zaimportuj też moduł random i nadaj mu alias rd.
2. Pracujesz dla linii lotniczych PYTHON Express (wszelkie podobieństwa do innych linii lotniczych sąprzypadkowe). Ta linia lotnicza posiada obecnie tylko 3 samoloty:
    * symbol PYT001 - Airbus 320
    * symbol PYT002 - Boeing 737
    * symbol PYT003 - Airbus 321
    
   Zadeklaruj słownik, którego indeksami są w/w symbole, a wartościami nazwy samolotów.
3. Utwórz serię aircrafts w oparciu o dane z w/w słownika
4. Teraz wygenerujemy losową listę przelotów. Zadeklaruj pustą listę flightsList. Korzystając z pętli for, dodaj do listy 100 losowych wartości pochodzących z indeksu serii aircrafts (elementy na tej liście powinny być symbolami samolotów). Wyświetl 5 pierwszych wartości z tej listy. (Ponieważ korzystamy z funkcji losowych wyniki mogą się różnić).
5. W oparciu o listę flightsList, utwórz serię o nazwie flights. Wyświetl pięć pierwszych pozycji z listy.
6. Lista 100 lotów zawiera obecnie losowe przeloty, coś w stylu 0 - PYT002 / 1 - PYT003 / 2 - PYT002 /... My jednak chcielibyśmy zobaczyć listę z nazwami samolotów! Utwórz nową listę o nazwie flights_aircrafts, która będzie zawierała informacje o lotach, ale w kolumnie wartości zamist symbolu samolotu ma się pojawić jego nazwa. Wyświetl z tej listy 5 pierwszych pozycji.

## Exercise 1

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rt

## Exercise 2

In [11]:
aircraftDict = {"PYT001": "Airbus 320",   
            "PYT002":"Boeing 737",
            "PYT003":"Airbus 321",}
aircraftDict

{'PYT001': 'Airbus 320', 'PYT002': 'Boeing 737', 'PYT003': 'Airbus 321'}

## Exercise 3

In [12]:
aircrafts = pd.Series(aircraftDict)
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

## Exercise 4

In [16]:
flightsList = []
for i in range(100):
    lot = rt.choice(aircrafts.index)
    flightsList.append(lot)
flightsList[:10]

['PYT003',
 'PYT002',
 'PYT002',
 'PYT003',
 'PYT001',
 'PYT003',
 'PYT003',
 'PYT001',
 'PYT003',
 'PYT001']

In [18]:
type(flightsList)

list

## Exercise 5

In [17]:
flights = pd.Series(flightsList)
flights

0     PYT003
1     PYT002
2     PYT002
3     PYT003
4     PYT001
       ...
95    PYT002
96    PYT001
97    PYT003
98    PYT003
99    PYT003
Length: 100, dtype: object

## Exercise 6

In [19]:
flights_aircrafts = flights.map(aircrafts)
flights_aircrafts.head()

0    Airbus 321
1    Boeing 737
2    Boeing 737
3    Airbus 321
4    Airbus 320
dtype: object