# LAB 133

1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej suppliers zaimportuj zawartość pliku suppliers.csv. Pobierz tylko kolumny SupplierID, CompanyName, City
3. Do zmiennej products zaimportuj zawartość pliku products_del_2.csv". Pobierz tylko kolumny ProductID, ProductName, SupplierID**
4. Należy odnaleźć tych dostawców z suppliers, którzy nie dostarczają żadnych produktów. W tym celu wykonuj kolejne kroki
5. W zmiennej sup_prod zapisz wynik zwykłego złaczenia suppliers i products w oparciu o kolumnę SupplierID. Skorzystaj z parametru indicator. 
6. Wyświetl ilość elementów w suppliers, products i sup_prod. Powinieneś uzyskać wyniki: 29/68/68
8. W zmiennej sup_prod_left zapisz wynik złączenia typu left z suppliers do products w oparciu o kolumnę SupplierID. Skorzystaj z prarametru indicator
9. Wyświetl ilość elementów w suppliers, products i sup_prod. Powinieneś uzyskać wyniki: 29/68/70. Oznacza to, że "idąc od suppliers do products", dla 2 dostawców nie udało się znaleźć żadnych produktów, które byłyby przez nich dostarczane.
10. Wyświetl te wiersze z sup_prod_left, które w kolumnie "merged posiadają wartość left_only
10. Jeżeli chcesz tak przekształć operacje 7-9, aby to samo zadanie zrealizować korzystając z right merge

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

## Exercise 2

In [2]:
suppliers = pd.read_csv("suppliers.csv", usecols=["SupplierID","CompanyName","City"])
suppliers.head()

   SupplierID                         CompanyName         City
0           1                      Exotic Liquids       London
1           2          New Orleans Cajun Delights  New Orleans
2           3           Grandma Kelly's Homestead    Ann Arbor
3           4                       Tokyo Traders        Tokyo
4           5  Cooperativa de Quesos 'Las Cabras'       Oviedo

## Exercise 3

In [3]:
products = pd.read_csv("products_del_2.csv", usecols=["ProductID","ProductName","SupplierID"])
products.head()

   ProductID                      ProductName  SupplierID
0          1                             Chai           1
1          2                            Chang           1
2          6     Grandma's Boysenberry Spread           3
3          7  Uncle Bob's Organic Dried Pears           3
4          8       Northwoods Cranberry Sauce           3

## Exercise 4

## Exercise 5

In [4]:
sup_prod = suppliers.merge(products, how='inner', on='SupplierID',indicator=True)
sup_prod.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1,Chai,both
1,1,Exotic Liquids,London,2,Chang,both
2,3,Grandma Kelly's Homestead,Ann Arbor,6,Grandma's Boysenberry Spread,both
3,3,Grandma Kelly's Homestead,Ann Arbor,7,Uncle Bob's Organic Dried Pears,both
4,3,Grandma Kelly's Homestead,Ann Arbor,8,Northwoods Cranberry Sauce,both

## Exercise 6

In [5]:
print(len(suppliers))
print(len(products))
print(len(sup_prod))

29
68
68

## Exercise 7

In [6]:
sup_prod_left = suppliers.merge(products, how='left', on='SupplierID',indicator=True)
sup_prod_left.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1.0,Chai,both
1,1,Exotic Liquids,London,2.0,Chang,both
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
3,3,Grandma Kelly's Homestead,Ann Arbor,6.0,Grandma's Boysenberry Spread,both
4,3,Grandma Kelly's Homestead,Ann Arbor,7.0,Uncle Bob's Organic Dried Pears,both

## Exercise 8

In [7]:
print(len(suppliers))
print(len(products))
print(len(sup_prod_left))

29
68
70

## Exercise 9

In [8]:
filter = sup_prod_left["_merge"] == "left_only"
sup_prod_left[filter]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

## Exercise 10

In [9]:
prod_sup_right = products.merge(suppliers, how='right', on='SupplierID',indicator=True)
prod_sup_right.head()

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,6.0,Grandma's Boysenberry Spread,3,Grandma Kelly's Homestead,Ann Arbor,both
3,7.0,Uncle Bob's Organic Dried Pears,3,Grandma Kelly's Homestead,Ann Arbor,both
4,8.0,Northwoods Cranberry Sauce,3,Grandma Kelly's Homestead,Ann Arbor,both

In [10]:
print(len(suppliers))
print(len(products))
print(len(prod_sup_right))

29
68
70

In [11]:
filter = prod_sup_right["_merge"] == "right_only"
prod_sup_right[filter]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
68,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
69,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only