# LAB 113

1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy. Zaimportuj też datetime, timedelta i time, możesz skorzystać z poniższych poleceń:
     * from datetime import datetime
     * from datetime import timedelta
     * import time
2. Do wykonania zadań będziemy korzystać z danych dotyczących maratonów. Uruchom poniższy kod, który przygotuje zmienną df o odpowiedniej strukturze:
     * df = pd.read_csv('./marathon_results_2016.csv', index_col='Bib', usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])
     * df['40K'] = df['40K'].apply(pd.to_timedelta)
     * df['Half'] = df['Half'].apply(pd.to_timedelta)
     * df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
     * df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
     * df.head()
3. W zmiennej group_city zapisz wynik grupowania data frame df ze względu na kolumnę City
4. Korzystając z odpowiedniego atrybutu zmiennej group_city wyświetl informacje o grupach
5. Wyświetl nagłówek danych z grupy "San Francisco"
6. Korzystając ze znanych Ci metod wyznaczania wartości średniej dla kolumny w DataFrame wyznacz średni czas biegu (kolumna 40K) dla biegaczy z San Francisco
7. Wykonaj podobne obliczenia dla biegaczy z "34-120 Andrychow"
8. Wyświetl pierwszy wiersz z każdej grupy
9. W zmiennej group_age zapisz wynik grupowania data frame df ze względu na kolumnę Age
10. Wyznacz średni czas biegu na 40km (kolumna 40K) dla 20- i 40-latków
11. Wyświetl pierwszy wiers z każdej grupy

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
from datetime import datetime
from datetime import timedelta
import time

## Exercise 2

In [19]:
df = pd.read_csv('./marathon_results_2016.csv', index_col='Bib',
                 usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,01:06:45,02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,01:06:46,02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,01:06:44,02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,01:06:46,02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,01:06:46,02:08:11,0:05:11,7691.0,4006.0

## Exercise 3

In [10]:
group_city = df.groupby(by="City")
group_city.head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,01:06:45,02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,01:06:46,02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,01:06:44,02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,01:06:46,02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,01:06:46,02:08:11,0:05:11,7691.0,4006.0
...,...,...,...,...,...,...,...,...,...,...
15529,68,M,East Sandwich,MA,USA,02:48:31,06:18:58,0:15:11,22738.0,10111.0
26144,52,F,Justin,TX,USA,03:11:00,06:36:56,0:15:59,23816.0,11460.0
4358,43,M,Yardley,PA,USA,01:28:18,06:54:20,0:16:53,24860.0,5298.0
31985,46,F,Rossmoor,CA,USA,03:40:16,00:00:00,0:17:51,0.0,13216.0
29403,39,M,Reedsburg,WI,USA,03:37:49,07:54:21,0:19:13,28461.0,13069.0

## Exercise 4

In [6]:
group_city.groups

{'0851 Oslo': Index(['6229'], dtype='object', name='Bib'),
 '20832': Index(['4186'], dtype='object', name='Bib'),
 '34-120 Andrychow': Index(['31786', '31807'], dtype='object', name='Bib'),
 '5700 Svendborg': Index(['15350'], dtype='object', name='Bib'),
 '95630': Index(['20668'], dtype='object', name='Bib'),
 'APO': Index(['28408'], dtype='object', name='Bib'),
 'Aabyhoj': Index(['21774'], dtype='object', name='Bib'),
 'Aalborg': Index(['30604'], dtype='object', name='Bib'),
 'Aarhus C': Index(['30621'], dtype='object', name='Bib'),
 'Abbotsford': Index(['8196', '19207', '12186'], dtype='object', name='Bib'),
 'Aberdeen': Index(['139', '15329', '7175', '12009', '14503', '16355', '14394'], dtype='object', name='Bib'),
 'Aberdeen City': Index(['31481'], dtype='object', name='Bib'),
 'Aberdeenshire': Index(['31475', '20519'], dtype='object', name='Bib'),
 'Abilene': Index(['16342', '18549', '25534'], dtype='object', name='Bib'),
 'Abingdon': Index(['5764', '928', '8182', '3792'], dtype='object', name='Bib'),
 'Abington': Index(['13037', '9425', '27369', '20679', '28209', '28750', '27787', '29499',
        '28488', '26352', '28784', '28782'],
       dtype='object', name='Bib'),
 'Abu Dhabi': Index(['16488'], dtype='object', name='Bib'),
 'Abu Dhabi, Uae': Index(['19652'], dtype='object', name='Bib'),
 'Acapulco': Index(['966', '6946'], dtype='object', name='Bib'),
 'Act': Index(['3336'], dtype='object', name='Bib'),
 'Acton': Index(['1828', '7664', '17094', '26241', '16799', '24207', '26847', '21090',
        '29064', '26120', '28790', '27761', '26764', '28793', '31248', '26627',
        '27803', '27103'],
       dtype='object', name='Bib'),
 'Acton Vale': Index(['5609'], dtype='object', name='Bib'),
 'Acushnet': Index(['11781'], dtype='object', name='Bib'),
 'Acworth': Index(['8897', '8819'], dtype='object', name='Bib'),
 'Ada': Index(['5282', '16778', '22181'], dtype='object', name='Bib'),
 'Adams Basin': Index(['6287'], dtype='object', name='Bib'),
 'Addis Ababa': Index(['5', '6', '7', '4', 'F14'], dtype='object', name='Bib'),
 'Adel': Index(['4332'], dtype='object', name='Bib'),
 'Adelaide': Index(['15426', '10168', '20505'], dtype='object', name='Bib'),
 'Adelaide, South Australia': Index(['19362'], dtype='object', name='Bib'),
 'Adelphi': Index(['10244'], dtype='object', name='Bib'),
 'Adliswil': Index(['1699', '11601'], dtype='object', name='Bib'),
 'Adolfo Lopez Edo Mex': Index(['18673'], dtype='object', name='Bib'),
 'Adrian': Index(['6219', '22586', '21429', '23263', '18382'], dtype='object', name='Bib'),
 'Adstock': Index(['14927'], dtype='object', name='Bib'),
 'Aelvsjoe': Index(['12066'], dtype='object', name='Bib'),
 'Afton': Index(['1010', '19079'], dtype='object', name='Bib'),
 'Agassiz': Index(['10343'], dtype='object', name='Bib'),
 'Agawam': Index(['6193'], dtype='object', name='Bib'),
 'Ageo': Index(['21558'], dtype='object', name='Bib'),
 'Agoura Hills': Index(['24813', '29867'], dtype='object', name='Bib'),
 'Aguanga': Index(['18460'], dtype='object', name='Bib'),
 'Aguascalientes': Index(['18619'], dtype='object', name='Bib'),
 'Aguascalientes, Ags': Index(['31644'], dtype='object', name='Bib'),
 'Ahmedabad': Index(['7469'], dtype='object', name='Bib'),
 'Aibonito': Index(['4182'], dtype='object', name='Bib'),
 'Aichi': Index(['24679', '31723'], dtype='object', name='Bib'),
 'Aiken': Index(['1980', '9532', '14551'], dtype='object', name='Bib'),
 'Airdrie': Index(['11603'], dtype='object', name='Bib'),
 'Aitkin': Index(['7154', '17878'], dtype='object', name='Bib'),
 'Ajax': Index(['7590', '9412', '24835'], dtype='object', name='Bib'),
 'Akron': Index(['182', '156', '2655', '3126', '5063', '16802', '17378', '4390', '14902',
        '18288', '23507', '9286', '21132', '25395'],
       dtype='object', name='Bib'),
 'Alachua': Index(['15505'], dtype='object', name='Bib'),
 'Alajuela, Atenas, Atenas': Index(['5751'], dtype='object', name='Bib'),
 'Alameda': Index(['11337', '8485', '11040', '5788', '31220'], dtype='object', name='Bib'),
 'Alamo': Index(['4188', '28313'], dtype='object', name='Bib'),
 'Albany': Index(['964', '1431', '2634', '10508', '804', '10458', '11635', '16225',
        '10875', '12855', '14854', '16348', '21326', '9733', '5954', '17189',
        '19979', '24258', '15568', '25930'],
       dtype='object', name='Bib'),
 'Albertson': Index(['18545'], dtype='object', name='Bib'),
 'Albese Con Cassano': Index(['8393'], dtype='object', name='Bib'),
 'Albion': Index(['11769', '21940'], dtype='object', name='Bib'),
 'Albuquerque': Index(['132', '1282', '935', '25', '4325', '1740', '11598', '1726', '16258',
        '5691', '17669', '11813', '20563', '9680', '18324', '20280', '17497',
        '4196', '15111', '14341', '23103', '24386', '24607', '22897', '14635',
        '25466', '22137', '16924', '25269', '19867', '22900', '22970'],
       dtype='object', name='Bib'),
 'Alcorcon': Index(['4046'], dtype='object', name='Bib'),
 'Alden': Index(['15485'], dtype='object', name='Bib'),
 'Aldershot': Index(['6331'], dtype='object', name='Bib'),
 'Aldie': Index(['6850', '22670', '26181'], dtype='object', name='Bib'),
 'Aledo': Index(['F104', '15207'], dtype='object', name='Bib'),
 'Alesund': Index(['31432'], dtype='object', name='Bib'),
 'Alexandria': Index(['1318', '6525', '515', '5360', '3464', '1064', '2673', '8253', '1844',
        '6171', '9837', '26175', '17842', '9428', '1275', '10570', '11764',
        '16893', '15032', '12179', '16631', '10686', '14980', '10662', '11232',
        '15161', '21520', '14864', '9691', '8441', '22252', '21006', '14981',
        '26195', '25546', '25449', '25027', '16176', '17687', '28371', '28124',
        '31254', '25822', '25586', '25608', '18295', '15562', '29687', '27858',
        '30697', '26596', '26147'],
       dtype='object', name='Bib'),
 'Alfred': Index(['10045', '26385'], dtype='object', name='Bib'),
 'Alges': Index(['28801'], dtype='object', name='Bib'),
 'Algonquin': Index(['22494', '18979'], dtype='object', name='Bib'),
 'Alhambra': Index(['4951'], dtype='object', name='Bib'),
 'Aliquippa': Index(['2765', '21772', '10135'], dtype='object', name='Bib'),
 'Aliso Viejo': Index(['10519', '8267', '13511', '17407', '13905'], dtype='object', name='Bib'),
 'Allegan': Index(['9233'], dtype='object', name='Bib'),
 'Allen': Index(['918', '6855', '10492', '9253', '9832', '22695'], dtype='object', name='Bib'),
 'Allendale': Index(['12511', '29886', '24534'], dtype='object', name='Bib'),
 'Allentown': Index(['7204', '9489', '18090', '6979', '17645', '10778', '22877', '25325',
        '25579'],
       dtype='object', name='Bib'),
 'Allerod': Index(['31760'], dtype='object', name='Bib'),
 'Alleroed': Index(['15391'], dtype='object', name='Bib'),
 'Alliance': Index(['218'], dtype='object', name='Bib'),
 'Allison Park': Index(['21417'], dtype='object', name='Bib'),
 'Allston': Index(['102', '219', '1695', '8864', '6524', '27362', '17111', '26839',
        '31064', '29162', '29035', '30606', '27740', '29585', '28803', '27683',
        '31040', '27895', '30420', '30587', '28664', '26687', '29615', '27016',
        '31318', '31241'],
       dtype='object', name='Bib'),
 'Alma': Index(['22873', '25441'], dtype='object', name='Bib'),
 'Aloha': Index(['20786', '25876'], dtype='object', name='Bib'),
 'Alpena': Index(['23052'], dtype='object', name='Bib'),
 'Alpharetta': Index(['14095', '20237', '11836', '23580', '21760', '18849'], dtype='object', name='Bib'),
 'Alpine': Index(['8928', '5528', '25907'], dtype='object', name='Bib'),
 'Alsip': Index(['21904'], dtype='object', name='Bib'),
 'Alston': Index(['31060'], dtype='object', name='Bib'),
 'Alta': Index(['23556'], dtype='object', name='Bib'),
 'Altadena': Index(['4690', '8478', '13808'], dtype='object', name='Bib'),
 'Altavilla Vicentina': Index(['8669'], dtype='object', name='Bib'),
 'Altavista': Index(['23533'], dtype='object', name='Bib'),
 'Altdorf': Index(['31529', '31528'], dtype='object', name='Bib'),
 'Althengstett': Index(['31036'], dtype='object', name='Bib'),
 'Alton': Index(['13406', '18706', '24632'], dtype='object', name='Bib'),
 'Altoona': Index(['10854', '16123', '14893', '5842', '20490'], dtype='object', name='Bib'),
 'Alvin': Index(['13513'], dtype='object', name='Bib'),
 'Alvsjo': Index(['25492'], dtype='object', name='Bib'),
 'Amarillo': Index(['16762'], dtype='object', name='Bib'),
 'Ambler': Index(['1843', '7398', '19330', '22143', '25162'], dtype='object', name='Bib'),
 'Ambo': Index(['1'], dtype='object', name='Bib'),
 'Amelia Island': Index(['21397'], dtype='object', name='Bib'),
 'American Fork': Index(['20412', '17862', '11412', '23238'], dtype='object', name='Bib'),
 'Americus': Index(['1471', '23041'], dtype='object', name='Bib'),
 'Amersfoort': Index(['1182'], dtype='object', name='Bib'),
 'Ames': Index(['1866', '1483', '5684', '19693', '9593', '21786', '24233', '21966',
        '21928', '9831', '14913', '25323'],
       dtype='object', name='Bib'),
 'Amesbury': Index(['6236', '22167', '6984'], dtype='object', name='Bib'),
 'Amherst': Index(['358', '2471', '5505', '3888', '2642', '3439', '2710', '7032', '16170',
        '16169', '14939', '16419', '17445', '20170', '23387', '24395', '17047',
        '22184', '18909', '21168', '22084', '17162', '27094', '10660', '25494',
        '30551', '27699', '27736', '26124', '30017'],
       dtype='object', name='Bib'),
 'Amherst Jct': Index(['16363'], dtype='object', name='Bib'),
 'Amherstburg': Index(['8115', '17148'], dtype='object', name='Bib'),
 'Amityville': Index(['589'], dtype='object', name='Bib'),
 'Ammon': Index(['19578', '19024'], dtype='object', name='Bib'),
 'Amos': Index(['1112', '3153', '13239'], dtype='object', name='Bib'),
 'Amsterdam': Index(['8766', '1944', '4109', '8380', '11547', '10340', '15005', '8060',
        '17972', '15463', '4742', '17883'],
       dtype='object', name='Bib'),
 'Amston': Index(['8311', '16191', '29747', '21784'], dtype='object', name='Bib'),
 'Anacortes': Index(['9252', '23255', '13776', '13483'], dtype='object', name='Bib'),
 'Anaheim': Index(['25147'], dtype='object', name='Bib'),
 'Anaheim Hills': Index(['4986', '26583'], dtype='object', name='Bib'),
 'Anapolis - Goias': Index(['7558'], dtype='object', name='Bib'),
 'Ancaster': Index(['8631', '22600', '22841', '18907', '25350', '21358', '30446'], dtype='object', name='Bib'),
 'Anchorage': Index(['210', '238', '3467', '802', '5162', '3658', '6482', '10297', '13260',
        '6970', '13236', '12230', '9353', '3776', '21259', '20297', '19834',
        '16297', '20051', '22317', '20020', '23012', '21038', '25301', '29494',
        '25759', '23530', '24175'],
       dtype='object', name='Bib'),
 'Ancienne-Lorette': Index(['18805'], dtype='object', name='Bib'),
 'Anderson': Index(['13512'], dtype='object', name='Bib'),
 'Andover': Index(['989', '853', '1195', '1865', '4869', '4027', '14349', '13965', '14665',
        '9862', '14173', '14244', '10457', '28651', '16952', '30525', '30984',
        '30687', '29578', '25236', '22966', '30858', '24311', '22315', '30593',
        '30650', '26421', '28038', '28072', '29376', '29808', '26475', '29270',
        '28101', '29109', '26818', '28411', '30877', '32099', '28137', '29111',
        '27728', '27753', '30267', '28204', '26295'],
       dtype='object', name='Bib'),
 'Angleton': Index(['25438'], dtype='object', name='Bib'),
 'Angola': Index(['14137'], dtype='object', name='Bib'),
 'Anjou': Index(['8287'], dtype='object', name='Bib'),
 'Ankeny': Index(['3258', '1141', '4028', '8818', '9880', '22622', '13805'], dtype='object', name='Bib'),
 'Anmore': Index(['21712'], dtype='object', name='Bib'),
 'Ann Arbor': Index(['31', '391', '893', '815', '708', '1503', 'F29', '858', '1767', '4201',
        '4268', '4431', '8796', '3687', '4921', '2013', '4074', '9047', '8547',
        '10480', '8803', '16184', '14140', '9306', '14165', '19001', '6351',
        '14921', '2968', '17612', '15468', '17905', '6518', '13915', '14417',
        '18792', '22675', '22729', '18787', '24633', '22302', '21264', '18798',
        '19766', '13725', '12046', '24270', '23417', '23215', '21976', '12804',
        '20828', '25918', '23314', '26040', '27428', '16361'],
       dtype='object', name='Bib'),
 'Annandale': Index(['3211', '12327', '11054', '8831', '30052'], dtype='object', name='Bib'),
 'Annapolis': Index(['3580', '5622', '5822', '5343', '4548', '5344', '4682', '14669',
        '16306', '15325', '5921', '17393', '4937', '20558', '19411', '17518',
        '18757', '24565', '26105', '21764'],
       dtype='object', name='Bib'),
 'Annville': Index(['2508', '21073', '13506', '23159'], dtype='object', name='Bib'),
 'Ansonia': Index(['29107'], dtype='object', name='Bib'),
 'Anthem': Index(['5741'], dtype='object', name='Bib'),
 'Antigonish': Index(['232', '23051', '19004', '24786', '24074', '24011'], dtype='object', name='Bib'),
 'Antioch': Index(['20958', '22395'], dtype='object', name='Bib'),
 'Antony': Index(['23064'], dtype='object', name='Bib'),
 'Anzio -Roma': Index(['11133'], dtype='object', name='Bib'),
 'Apache Junction': Index(['3898'], dtype='object', name='Bib'),
 'Apex': Index(['9055', '6532', '8312', '20060', '16324', '18723', '7250', '16099',
        '22531', '23242', '30055'],
       dtype='object', name='Bib'),
 'Apison': Index(['12620'], dtype='object', name='Bib'),
 'Apo': Index(['6552', '8735', '21496'], dtype='object', name='Bib'),
 'Apple Valley': Index(['288', '6390', '4982', '8294', '9102', '17104', '16882', '21062',
        '29559', '17284'],
       dtype='object', name='Bib'),
 'Appleton': Index(['206', '6961', '4259', '6030', '6704', '9936', '16208', '16445', '9151',
        '18300', '17636', '11713', '11105', '14806', '22134', '20445', '19511',
        '20211', '20961', '17909'],
       dtype='object', name='Bib'),
 'Aptos': Index(['14468'], dtype='object', name='Bib'),
 'Aranda': Index(['21315'], dtype='object', name='Bib'),
 'Arbutus': Index(['538'], dtype='object', name='Bib'),
 'Arcadia': Index(['2831'], dtype='object', name='Bib'),
 'Arcata': Index(['4729'], dtype='object', name='Bib'),
 'Archbald': Index(['634'], dtype='object', name='Bib'),
 'Archbold': Index(['2405', '14900'], dtype='object', name='Bib'),
 'Arcueil': Index(['21956'], dtype='object', name='Bib'),
 'Arden': Index(['6808', '9078'], dtype='object', name='Bib'),
 'Ardmore': Index(['510', '6735', '11905', '19584', '22055'], dtype='object', name='Bib'),
 'Ardrossan': Index(['18588'], dtype='object', name='Bib'),
 'Arenzano-Ge': Index(['31611'], dtype='object', name='Bib'),
 'Argyle': Index(['17012'], dtype='object', name='Bib'),
 'Ariccia (rm)': Index(['21568'], dtype='object', name='Bib'),
 'Arkadelphia': Index(['25555'], dtype='object', name='Bib'),
 'Arleta': Index(['5325', '10111', '19744'], dtype='object', name='Bib'),
 'Arlington': Index(['78', '322', '106', '521', '1259', '1118', '2866', '1577', '2374',
        '1712',
        ...
        '26876', '26290', '29061', '29807', '29581', '23591', '28913', '28812',
        '26620', '21005'],
       dtype='object', name='Bib', length=127),
 'Arlington Heights': Index(['8651', '3382', '2619', '11273', '5977', '13840', '10910', '18646',
        '16291', '26143'],
       dtype='object', name='Bib'),
 'Arlington Hts': Index(['8874'], dtype='object', name='Bib'),
 'Armagh': Index(['10024'], dtype='object', name='Bib'),
 'Armstrong': Index(['17428'], dtype='object', name='Bib'),
 'Arnhem': Index(['11269'], dtype='object', name='Bib'),
 'Arnold': Index(['9462', '1016', '18538', '28300', '16833'], dtype='object', name='Bib'),
 'Arsi': Index(['F4', 'F3', 'F12'], dtype='object', name='Bib'),
 'Arvada': Index(['1393', '3407', '10616', '12360', '18059', '10695', '16448'], dtype='object', name='Bib'),
 'Arvika': Index(['16772'], dtype='object', name='Bib'),
 'Asbury': Index(['6578', '8398', '17960', '21123', '26019'], dtype='object', name='Bib'),
 'Asbury Park': Index(['579'], dtype='object', name='Bib'),
 'Asela': Index(['F15'], dtype='object', name='Bib'),
 'Ashaway': Index(['1028'], dtype='object', name='Bib'),
 'Ashburn': Index(['929', '4211', '3123', '6544', '4266', '5899', '14128', '7331', '10121',
        '9404', '18565', '14964', '12436', '20783', '28542', '20990', '20821',
        '18923'],
       dtype='object', name='Bib'),
 'Ashburnham': Index(['26915', '26988'], dtype='object', name='Bib'),
 'Ashby': Index(['28192'], dtype='object', name='Bib'),
 'Asheville': Index(['1707', '4144', '5551', '4807', '1846', '8616', '2582', '4867', '8977',
        '9542', '10305', '5423', '13110', '961', '13845', '29462', '24152',
        '22605', '25090', '10611', '21609'],
       dtype='object', name='Bib'),
 'Ashland': Index(['1402', '1993', '2896', '4993', '10116', '27828', '16961', '13211',
        '15151', '27308', '6089', '7451', '15060', '19851', '26832', '24118',
        '27938', '29039', '29492', '32125', '30363', '29963', '30450', '28437',
        '32023', '28253', '28540', '29227', '27405', '31953', '28401', '28884',
        '27737'],
       dtype='object', name='Bib'),
 'Ashtabula': Index(['3545', '3824', '9572', '2668', '17065'], dtype='object', name='Bib'),
 'Askam In Furness': Index(['6124'], dtype='object', name='Bib'),
 'Asnieres': Index(['15178'], dtype='object', name='Bib'),
 'Aspach Michelbach': Index(['31419'], dtype='object', name='Bib'),
 'Aspen': Index(['8218', '16843', '24321'], dtype='object', name='Bib'),
 'Asperg': Index(['30920'], dtype='object', name='Bib'),
 'Aspers': Index(['25804'], dtype='object', name='Bib'),
 'Astoria': Index(['4692', '8595', '14778', '26495', '10380', '14706', '19971', '26865',
        '17046', '30655', '30653', '30713', '30045', '29953'],
       dtype='object', name='Bib'),
 'Atascadero': Index(['21819'], dtype='object', name='Bib'),
 'Atascocita': Index(['14709'], dtype='object', name='Bib'),
 'Atchison': Index(['5070'], dtype='object', name='Bib'),
 'Athens': Index(['2254', '7680', '12237', '10593', '8752', '9324', '2772', '10302',
        '6091', '8176', '14259', '15438', '28372', '19688', '13062', '17168',
        '23540', '13186', '13237'],
       dtype='object', name='Bib'),
 'Atherton': Index(['9376', '19535', '11237'], dtype='object', name='Bib'),
 'Athlone': Index(['2216'], dtype='object', name='Bib'),
 'Atizapan De Zaragoza': Index(['1876'], dtype='object', name='Bib'),
 'Atkinson': Index(['5094', '31164', '26343'], dtype='object', name='Bib'),
 'Atlacomulco, Edo. De Mexico': Index(['10571'], dtype='object', name='Bib'),
 'Atlanta': Index(['338', '1293', '9223', '2714', '786', '1359', '3158', '2441', '5421',
        '4121',
        ...
        '15100', '15572', '22541', '30437', '25746', '25853', '29666', '26236',
        '25933', '26221'],
       dtype='object', name='Bib', length=103),
 'Atlantic Beach': Index(['12309', '24854'], dtype='object', name='Bib'),
 'Atlantic Highlands': Index(['22125'], dtype='object', name='Bib'),
 'Atlantic Mine': Index(['18953'], dtype='object', name='Bib'),
 'Atmore': Index(['217', '13843'], dtype='object', name='Bib'),
 'Atoka': Index(['24292'], dtype='object', name='Bib'),
 'Attleboro': Index(['3486', '3639', '1045', '24377', '27562', '26300', '29301', '27796',
        '29316', '29591', '27568', '30006', '30694'],
       dtype='object', name='Bib'),
 'Auburn': Index(['154', '9366', '2711', '6402', '12881', '631', '9314', '13216', '19647',
        '20587', '19373', '20881', '15481', '17709', '24289', '29524', '14473',
        '23590', '25103', '29726', '30497', '24744', '28147'],
       dtype='object', name='Bib'),
 'Auburn Hills': Index(['10971', '7480'], dtype='object', name='Bib'),
 'Auburndale': Index(['5279', '14431', '26255', '29051', '27846', '28324', '30314', '31981'], dtype='object', name='Bib'),
 'Auchenflower': Index(['31596'], dtype='object', name='Bib'),
 'Auckland': Index(['124', '547', '130', '374', '11439', '3722', '31805', '31800', '24168',
        '22258', '31801'],
       dtype='object', name='Bib'),
 'Audubon': Index(['12591', '19877', '22785', '21409'], dtype='object', name='Bib'),

## Exercise 5

In [9]:
group_city.get_group("San Francisco").head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
796,28,M,San Francisco,CA,USA,01:18:12,02:29:21,0:06:02,8961.0,4692.0
36,30,M,San Francisco,CA,USA,01:14:21,02:30:00,0:06:05,9000.0,4461.0
1267,27,M,San Francisco,CA,USA,01:19:24,02:33:24,0:06:11,9204.0,4764.0
644,51,M,San Francisco,CA,USA,01:19:29,02:37:08,0:06:22,9428.0,4769.0
827,33,M,San Francisco,CA,USA,01:18:52,02:38:13,0:06:24,9493.0,4732.0

## Exercise 6

In [11]:
group_city.get_group("San Francisco")["40K"].mean()

Timedelta('0 days 03:25:35.335025')

## Exercise 7

In [13]:
group_city.get_group("34-120 Andrychow")["40K"].mean()

Timedelta('0 days 03:55:11')

## Exercise 8

In [14]:
group_city.first().head()

,Age,M/F,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
City,,,,,,,,,
0851 Oslo,39,F,NaN,NOR,01:35:31,03:15:24,0:07:55,11724.0,5731.0
20832,35,M,MD,USA,01:35:57,03:14:00,0:07:51,11640.0,5757.0
34-120 Andrychow,44,F,NaN,POL,01:58:39,03:55:09,0:09:28,14109.0,7119.0
5700 Svendborg,58,M,NaN,DEN,01:49:12,03:44:58,0:09:05,13498.0,6552.0
95630,46,F,CA,USA,01:50:25,03:37:23,0:08:44,13043.0,6625.0

## Exercise 9

In [15]:
group_age = df.groupby('Age')

## Exercise 10

In [18]:
group_age.get_group(20)["40K"].mean()

Timedelta('0 days 03:36:54.583333')

In [17]:
group_age.get_group(40)["40K"].mean()

Timedelta('0 days 03:35:22.724557')

## Exercise 11

In [16]:
group_age.first().head()

,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Age,,,,,,,,,
18,M,Needham,MA,USA,01:22:35,02:38:30,0:06:23,9510.0,4955.0
19,M,Plainfield,IL,USA,01:25:28,02:42:30,0:06:33,9750.0,5128.0
20,M,Addis Ababa,MI,ETH,01:06:45,02:14:23,0:05:26,8063.0,4005.0
21,M,Addis Ababa,MA,ETH,01:06:45,02:05:59,0:05:04,7559.0,4005.0
22,M,Eugene,OR,USA,01:13:53,02:24:35,0:05:52,8675.0,4433.0