# LAB 71

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fuel wczytaj zawartość pliku fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak utworzonego Data Frame
2. Wyświetl informację o kolumnach (wykorzystywane typy, ilość obiektów nienullowych, dokładna informacja o pamięci)
3. Skonwertuj kolumnę Year do typu int. Ponownie wyświetl informację o typach kolumn i użyciu pamięci
4. Sprawdź ile razy powtarzają się wartości w kolumnie Make
5. Zmień typ kolumny Make na category i ponownie wyświetl informację o pamięci konsumowanej przez tentyp
6. Powtórz kroki 4-5 dla kolumn: Model, Class, 'Fuel Type'.
7. Kolumnę 'Combined MPG (FT1)' skonwertuj do typu float
8. Porównaj rozmiar obiektu fuel na początku (krok 2) i na końcu (krok 6) - czy różnica jest wyraźna?

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
fuel = pd.read_csv("fuel.csv",usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], index_col = 'Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

## Exercise 2

In [4]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.9 MB

## Exercise 3

In [5]:
fuel['Year'] = fuel['Year'].astype('int')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.9 MB

## Exercise 4

In [7]:
fuel['Make'].value_counts()

Chevrolet                        3389
Ford                             2721
Dodge                            2361
GMC                              2174
Toyota                           1599
                                 ...
Volga Associated Automobile         1
BYD                                 1
Mahindra                            1
General Motors                      1
Import Foreign Auto Sales Inc       1
Name: Make, Length: 128, dtype: int64

## Exercise 5

In [11]:
fuel['Make'] = fuel['Make'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: category(1), float64(1), int64(1), object(3)
memory usage: 7.1 MB

## Exercise 6

In [12]:
fuel['Model'].value_counts().head()

F150 Pickup 2WD      194
Truck 2WD            187
F150 Pickup 4WD      172
Ranger Pickup 2WD    169
Mustang              156
Name: Model, dtype: int64

In [13]:
fuel['Model'] = fuel['Model'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: category(2), float64(1), int64(1), object(2)
memory usage: 5.3 MB

In [14]:
fuel['Class'].value_counts().head()

Compact Cars                   4489
Subcompact Cars                4299
Midsize Cars                   3393
Standard Pickup Trucks         2354
Sport Utility Vehicle - 4WD    2034
Name: Class, dtype: int64

In [15]:
fuel['Class'] = fuel['Class'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: category(3), float64(1), int64(1), object(1)
memory usage: 3.1 MB

In [16]:
fuel['Fuel Type'].value_counts().head()

Regular            22439
Premium             7375
Diesel               936
Gasoline or E85      767
CNG                   55
Name: Fuel Type, dtype: int64

In [17]:
fuel['Fuel Type'] = fuel['Fuel Type'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null category
Combined MPG (FT1)    31683 non-null float64
dtypes: category(4), float64(1), int64(1)
memory usage: 1.2 MB

## Exercise 7

In [18]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null category
Combined MPG (FT1)    31683 non-null float64
dtypes: category(4), float64(1), int64(1)
memory usage: 1.2 MB

## Exercise 8