# LAB 51

1. Zaimportuj moduł pandas i nadaj mu standardowy alias.
2. Do zmiennej programmers wczytaj serię danych z pliku StackOverflowDeveloperSurvey2018.csv. Wczytując dane użyj arguemtu low_memory=False, usecols='ConvertedSalary i squeeze=True.
3. Wylicz średnią, medianę i odchylenie standardowe. Co można powiedzieć o tych danych?
4. Wylicz maksymalną wartość Salary.
5. Do zmiennej fortune500 wczytaj dane z pliku Fortune_500_2017.csv. Wczytaj kolumny Title i Employees. Kolumna Title powinna stać się indeksem. Wyświetl nagłówek otrzymanej serii danych.
6. Wyświetl jaki jest indeks dla pozycji z największą liczbą pracowników. W ten sposób znajdziesz na liście Fortune firmę zatrudniającą najwięcej pracowników.
7. A ile pracowników zatrudnia ta firma. Skorzystaj z wartości wyliczonej w poprzednim punkcie
8. Wyświetl jaki jest indeks dla pozycji z najmniejszą liczbą pracowników. W ten sposób znajdziesz na liście Fortune firmę zatrudniającą najmniej pracowników
9. A ile pracowników zatrudnia ta firma. Skorzystaj z wartości wyliczonej w poprzednim punkcie

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

## Exercise 2

In [4]:
programmers = pd.read_csv("StackOverflowDeveloperSurvey2018.csv", low_memory=False, usecols=["ConvertedSalary"], squeeze=True)
programmers.head()

0        NaN
1    70841.0
2        NaN
3        NaN
4    21426.0
Name: ConvertedSalary, dtype: float64

## Exercise 3

In [5]:
programmers.mean()

95780.86178776571

In [6]:
programmers.median()

55075.0

In [8]:
programmers.std()

202348.21562528735

## Exercise 4

In [10]:
programmers.max()

2000000.0

## Exercise 5

In [13]:
fortune500 = pd.read_csv("Fortune_500_2017.csv", usecols=["Employees","Title"], index_col="Title")
fortune500.head()

                    Employees
Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000

## Exercise 6

In [15]:
fortune500.idxmax()

Employees    Walmart
dtype: object

## Exercise 7

In [17]:
fortune500.loc[fortune500.idxmax()]

         Employees
Title
Walmart    2300000

## Exercise 8

In [18]:
fortune500.idxmin()

Employees    A-Mark Precious Metals
dtype: object

## Exercise 9

In [19]:
fortune500.loc[fortune500.idxmin()]

                        Employees
Title
A-Mark Precious Metals         83