# LAB 127

1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej customer_names zaimportuj z pliku customers.csv kolumny: CustomerID i CompanyName
3. Do zmiennej customer_cities zaimportuj z pliku customers.csv kolumny: CustomerID, City i Country
4. Wyświetl ilość elementów w obu tych zmiennych
5. Dodaj do obu zmiennych indeks na kolumnie CustomerID
6. Korzystając z polecenia join połącz dane z obu data frame. Dane mają być połączone "po indeksie"
7. Ile wierszy jest w wyniku złączenia?
8. Aby przećwiczyć inny rodzaj złączenia danych zresetuj indeks w customer_names
9. Korzystając z polecenia join połącz dane z obu data frame, ale tym razem wskaż jawnie, że do połaczenia ma być wykorzystywana kolumna CustomerID z data frame customer_names
10. Ile jest wierszy w wyniku połączenia?

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

## Exercise 2

In [13]:
customer_names = pd.read_csv("customers.csv", usecols=['CustomerID','CompanyName'])
customer_names.head()

  CustomerID                         CompanyName
0      ALFKI                 Alfreds Futterkiste
1      ANATR  Ana Trujillo Emparedados y helados
2      ANTON            Antonio Moreno Taquer?­a
3      AROUT                     Around the Horn
4      BERGS                 Berglunds snabbk?¶p

## Exercise 3

In [14]:
customer_cities = pd.read_csv("customers.csv", usecols=['CustomerID','City','Country'])
customer_cities.head()

  CustomerID          City  Country
0      ALFKI        Berlin  Germany
1      ANATR  M?©xico D.F.   Mexico
2      ANTON  M?©xico D.F.   Mexico
3      AROUT        London       UK
4      BERGS        Lule??   Sweden

## Exercise 4

In [15]:
len(customer_names)

91

In [16]:
len(customer_cities)

91

## Exercise 5

In [17]:
customer_names.set_index('CustomerID', inplace=True)
customer_names.head()

                                   CompanyName
CustomerID
ALFKI                      Alfreds Futterkiste
ANATR       Ana Trujillo Emparedados y helados
ANTON                 Antonio Moreno Taquer?­a
AROUT                          Around the Horn
BERGS                      Berglunds snabbk?¶p

In [18]:
customer_cities.set_index('CustomerID', inplace=True)
customer_cities.head()

                    City  Country
CustomerID
ALFKI             Berlin  Germany
ANATR       M?©xico D.F.   Mexico
ANTON       M?©xico D.F.   Mexico
AROUT             London       UK
BERGS             Lule??   Sweden

## Exercise 6

In [19]:
customer_names.join(customer_cities).head()

                                   CompanyName          City  Country
CustomerID
ALFKI                      Alfreds Futterkiste        Berlin  Germany
ANATR       Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
ANTON                 Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
AROUT                          Around the Horn        London       UK
BERGS                      Berglunds snabbk?¶p        Lule??   Sweden

## Exercise 7

In [20]:
len(customer_names.join(customer_cities))

91

## Exercise 8

In [21]:
customer_names.reset_index(inplace=True)

## Exercise 9

In [22]:
customer_names.join(customer_cities, on='CustomerID').head()

  CustomerID                         CompanyName          City  Country
0      ALFKI                 Alfreds Futterkiste        Berlin  Germany
1      ANATR  Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
2      ANTON            Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
3      AROUT                     Around the Horn        London       UK
4      BERGS                 Berglunds snabbk?¶p        Lule??   Sweden

## Exercise 10

In [23]:
len(customer_names.join(customer_cities, on='CustomerID'))

91