# LAB 39

1. Zaimportuj moduły: pandas, numpy, matplotlib (tylko pyplot), math i nadaj im standardowe aliasy
2. Z pliku StackOverflowDeveloperSurvey.csv wczytaj kolumnę Salary jako Data Series i zapisz ją w zmiennej salary. Wczytując elementy pomiń te ankiety, w których respondenci nie podali kwoty wynagrodzenia (użyj dropna()). Wyświetl 5 pierwszych elementó serii
3. Posortuj dane wg wynagrodzenia malejąco (wyświetl tylko 5 pierwszych pozycji).
4. Posortuj dane wg wynagrodzenia rosnąco (wyświetl tylko 5 pierwszych pozycji).
5. Zmień parametry sortowania tak, aby lista została posortowana wewnętrznie na stałe wg wynagrodzenia malejąco. Wyświetl kilka początkowych elementów, aby przekonać się że obiekt jest teraz posortowany jak należy.
6. Posortuj dane wg indeksu malejąco
7. Zapisz w zmiennej maxSalaries 100 największych wynagrodzeń z serii Salary
8. Zapisz w zmiennej minSalaries 100 najniższych wynagrodzeń z serii Salary
9. Wyznacz średnią wartość z wynagrodzeń znajdujących się w serii maxSalaries
10. Wyznacz średnią wartiść z wynagrodzeń znajdujących się w serii minSalaries

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

## Exercise 2

In [4]:
salary = pd.read_csv("StackOverflowDeveloperSurvey.csv", usecols=["Salary"], squeeze = True).dropna()
salary[:5]

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

## Exercise 3

In [7]:
salary.sort_values(ascending=False).head()

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
Name: Salary, dtype: float64

## Exercise 4

In [9]:
salary.sort_values().head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

## Exercise 5

In [11]:
salary.sort_values(inplace=True, ascending=False)
salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
Name: Salary, dtype: float64

## Exercise 6

In [13]:
salary.sort_index(ascending=False).head()

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
Name: Salary, dtype: float64

## Exercise 7

In [15]:
maxSalaries = salary.sort_values(ascending=False).head(100)
maxSalaries

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
           ...
22488    170000.0
41861    170000.0
29662    170000.0
29971    170000.0
14805    170000.0
Name: Salary, Length: 100, dtype: float64

## Exercise 8

In [16]:
minSalaries = salary.sort_values(ascending=True).head(100)
minSalaries

51144      0.000000
44841      0.000000
23907      0.000000
4517       0.000000
2951       0.000000
            ...
15179    176.185582
33212    178.784267
50569    198.208780
48674    198.649186
1077     200.000000
Name: Salary, Length: 100, dtype: float64

## Exercise 9

In [18]:
maxSalaries.mean()

180198.1045586777

## Exercise 10

In [20]:
minSalaries.mean()

67.08388907133795