# LAB 155

1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej mcdonalds zaimportuj plik mcdonalds.csv, pobierz tylko kolumny Category, Item, Calories i TotalFat
3. Zadeklaruj zmienną excelWriter, która pozwoli na zapisywanie danych do skoroszytu mcdonaldsexcel.xls
4. Zapisz zawartość zmiennej mcdonalds do excelWriter. Nowy arkusz ma się nazywać Menu. Indeks nie powinien być zapisywany
5. Zapisz excelWriter na dysku. (Dobry pomysł sprawdzić, jak wygląda teraz plik, ale po takim sprawdzeniu pamiętaj aby zamknąć Excela, bo inaczej dostęp do pliku może być zablokowany)
6. Do zmiennej imported1 zaimportuj ze skoroszytu mcdonalds-excel.xls arkusz Menu.
7. Zaktualizuj w imported zawartość kolumny Calories dzieląc ją przez 2. 
8. Zapisz zawartość imported1 w excelWriter, dodając arkusz Menu Light
9. Zaktualizuj w imported1 zawartość kolumny Calories dzieląc ją ponownie przez 2. 
10. Zapisz zawartość imported1 w excelWriter, dodając arkusz Menu Extra Light
11. Zapisz excelWriter na dysku.
12. Do zmiennej final wczytaj zawartość wszyskich arkuszy ze skoroszytu mcdonalds-excel.xls
13. Sprawdź ile masz obiektów data frame w zmiennej final, wyświetlając jej długość
14. Wyświetl nagłówek zerowego, pierwszego i drugiego arkusza. Czy widzisz zmniejszającą się ilość kalorii w kolejnych arkuszach?

## Exercsie 1

In [1]:
import pandas as pd
import numpy as np

## Exercise 2

In [2]:
mcdonalds = pd.read_csv("Mcdonalds.csv", usecols=['Category','Item','Calories','TotalFat'])
mcdonalds.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

## Exercise 3

In [3]:
excelWriter = pd.ExcelWriter("mcdonalds-excel.xls")

## Exercise 4

In [4]:
mcdonalds.to_excel(excelWriter, sheet_name="Menu",index=False)

## Exercise 5

In [5]:
excelWriter.save()

## Exercise 6

In [6]:
imported1 = pd.read_excel("mcdonalds-excel.xls", sheet_name="Menu")

## Exercise 7

In [8]:
imported1["Calories"] = imported1["Calories"] / 2
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin      75.0      13.0
1  Breakfast                 Egg White Delight      62.5       8.0
2  Breakfast                  Sausage McMuffin      92.5      23.0
3  Breakfast         Sausage McMuffin with Egg     112.5      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     100.0      23.0

## Exercise 8

In [9]:
imported1.to_excel(excelWriter, sheet_name="Menu Light")

## Exercise 9

In [10]:
imported1["Calories"] = imported1["Calories"]/2
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     37.50      13.0
1  Breakfast                 Egg White Delight     31.25       8.0
2  Breakfast                  Sausage McMuffin     46.25      23.0
3  Breakfast         Sausage McMuffin with Egg     56.25      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     50.00      23.0

## Exercise 10

In [11]:
imported1.to_excel(excelWriter, sheet_name="Menu Extra Light")

## Exercise 11

In [12]:
excelWriter.save()

## Exercise 12

In [13]:
final = pd.read_excel("mcdonalds-excel.xls", sheet_name=[0,1,2])

## Exercise 13

In [14]:
len(final)

3

## Exercise 14

In [15]:
final[0].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [16]:
final[1].head()

   Unnamed: 0   Category                              Item  Calories  TotalFat
0           0  Breakfast                      Egg McMuffin      75.0      13.0
1           1  Breakfast                 Egg White Delight      62.5       8.0
2           2  Breakfast                  Sausage McMuffin      92.5      23.0
3           3  Breakfast         Sausage McMuffin with Egg     112.5      28.0
4           4  Breakfast  Sausage McMuffin with Egg Whites     100.0      23.0

In [17]:
final[2].head()

   Unnamed: 0   Category                              Item  Calories  TotalFat
0           0  Breakfast                      Egg McMuffin     37.50      13.0
1           1  Breakfast                 Egg White Delight     31.25       8.0
2           2  Breakfast                  Sausage McMuffin     46.25      23.0
3           3  Breakfast         Sausage McMuffin with Egg     56.25      28.0
4           4  Breakfast  Sausage McMuffin with Egg Whites     50.00      23.0