# LAB 43

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej surveys zapisz data series pobierając wartości z pliku StackOverflowDeveloperSurvey.csv kolumnę CompanySize. Wyświetl pięć pierwszych pozycji tej serii.
2. Wyświetl wartość z pozycji 3 (indeks 3)
3. Wyświetl elementy z pozycji 1-10 włącznie. Czy wartość na trzeciej pozycji jest zgodna z wynikiem z poprzedniego punktu?
4. Wyświetl wartość z pozycji 12345 (indeks 12345)
5. Wyświetl elementy z pozycji 12341 - 12350 włącznie. Czy wartość na pozycji 12345 jest zgodna z wynikiem z poprzedniego punktu?
6. Posortuj serię surveys korzystając z parametru inplace=True
7. Wyświetl wartość z pozycji 3 (indeks 3), czy to nadal ta sama wartość co poprzednio?
8. Wyświetl elementy z pozycji 1-10 włącznie. Czy wartość na trzeciej pozycji jest zgodna z wynikiem z poprzedniego punktu? Czy ten wynik nie jest dziwny??
9. Wyświetl wartość z pozycji 12345 (indeks 12345), czy to nadal ta sama wartość co poprzednio?
10. Wyświetl elementy z pozycji 1-10 włącznie. Czy wartość na trzeciej pozycji jest zgodna z wynikiem z poprzedniego punktu? Czy ten wynik nie jest dziwny??
11. Wykonaj polecenie resetujące indeks (będzie o nim mowa w dalszej części kursu, na razie weź to "na wiarę"): surveys.reset_index(drop=True,inplace=True)
12. Wykonaj ponownie polecenia z pkt 7 - 10. Czy teraz wyniki bardziej pasują?

## Exercise 1

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [4]:
surveys = pd.read_csv("StackOverflowDeveloperSurvey.csv", usecols=["CompanySize"], squeeze=True)
surveys.head()

0                         NaN
1          20 to 99 employees
2    10,000 or more employees
3    10,000 or more employees
4          10 to 19 employees
Name: CompanySize, dtype: object

## Exercise 2

In [5]:
surveys[3]

'10,000 or more employees'

## Exercise 3

In [8]:
surveys[1:11]

1           20 to 99 employees
2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
5                          NaN
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
9                          NaN
10        100 to 499 employees
Name: CompanySize, dtype: object

## Exercise 4

In [9]:
surveys[12345]

'20 to 99 employees'

## Exercise 5

In [11]:
surveys[12341:12351]

12341                         NaN
12342    1,000 to 4,999 employees
12343    10,000 or more employees
12344        100 to 499 employees
12345          20 to 99 employees
12346                         NaN
12347     Fewer than 10 employees
12348          20 to 99 employees
12349          20 to 99 employees
12350          20 to 99 employees
Name: CompanySize, dtype: object

## Exercise 6

In [12]:
surveys.sort_values(inplace = True)

## Exercise 7

In [13]:
surveys[3] # Tak, ta sama wartość

'10,000 or more employees'

## Exercise 8

In [14]:
surveys[1:11] # pozycja 3 jest inna

36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

## Exercise 9

In [15]:
surveys[12345] # Tak, ta sama wartość

'20 to 99 employees'

## Exercise 10

In [16]:
surveys[12341:12351] # Nie, wartość z pozycjie 12345 jest inna

14554    10,000 or more employees
9429     10,000 or more employees
6384     10,000 or more employees
1102     10,000 or more employees
14549    10,000 or more employees
14547    10,000 or more employees
14570    10,000 or more employees
14575    10,000 or more employees
6410     10,000 or more employees
14576    10,000 or more employees
Name: CompanySize, dtype: object

## Exercise 11

In [17]:
surveys[[3,12345]]

3        10,000 or more employees
12345          20 to 99 employees
Name: CompanySize, dtype: object

In [18]:
surveys.reset_index(drop=True,inplace=True)

## Exercise 12

In [19]:
surveys[3]

'1,000 to 4,999 employees'

In [20]:
surveys[1:11]

1     1,000 to 4,999 employees
2     1,000 to 4,999 employees
3     1,000 to 4,999 employees
4     1,000 to 4,999 employees
5     1,000 to 4,999 employees
6     1,000 to 4,999 employees
7     1,000 to 4,999 employees
8     1,000 to 4,999 employees
9     1,000 to 4,999 employees
10    1,000 to 4,999 employees
Name: CompanySize, dtype: object